<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dwelli Tech Page</title>
  </head>
  <body lang="en-US">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a href="/" class="navbar-brand">Dwelli.NG</a>
      <h5 class="mx-auto text-white text-warning">Dwelli.NG Tech Challenge <i class='fa fa-spinner fa-spin' style="color:white"></i></h5>
      <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="my-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                  <a class="nav-link text-shite" href="/createcandidate"><span class=""><i class="fa fa-plus" style="color:green"></i> Add Candidate</span></a>
              </li>
          </ul>
      </div>
  </nav>